extends app layout
block content
    div.container
        span.h 세보수단 방법안내
        span.h2 포털사이트(네이버, 다음, 줌) 검색 → 행산원
        p 홈페이지 :&nbsp;
            a(href='http://www.hengsan.co.kr') www.hengsan.co.kr
        p 메일주소 : sudan@hengsan.co.kr
        table.guid
            thead
                tr
                    th(colspan=2) 구분
                    th 제출방법
                    th 관련주소
            tr
                td.head 방법-1
                td 수단지(收單紙) 직접작성 제출
                td 收單紙에 手記로 작성하여 우편으로 제출
                    br/ ◆ 수단양식 복사 또는 A4용지로 프린트
                td 우편번호 : 53305
                    br/ 경남 거제시 아주로74 해와루 106동 606호
                    br/ 박행산
                    br/
                    br/ 홈페이지 : www.hengsan.co.kr
                    br/ “메일수단” 메뉴 선택 → 양식 다운로드 & 프린트
            tr
                td.head 방법-2
                td 이메일로 제출
                td 인터넷 홈페이지에서 양식을 다운받아 컴퓨터로 작성하여 이메일로 제출
                td e-mail : sudan@hengsan.co.kr
                    br/
                    br/ 엑셀파일원본 또는 PDF파일 또는 사진파일
            tr
                td.head 방법-3
                td 전자수단 제출
                td 인터넷 홈페이지에 직접 입력 제출
                td 홈페이지 : www.hengsan.co.kr
                    br/ "전자수단" 메뉴 선택 → 男 또는 女 직접 작성
        p [유의 사항]
        p 인터넷 운영기반 설치 권장
        p →
            span.pink 크롬(Chrome)
            span 설치 또는
            span.green &nbsp;인터넷 익스플로러 11 (Internet Explorer 11)
            span 이상 설치
        p &emsp;컴퓨터에 상기 운영기반이 탑재되어 있지 않을 경우 시스템이 제대로 작동이 되지 않음
        p.h1 수단작성지침(收單作成指針)
        table.guid
            thead
                tr
                    th 구분
                    th 지침
                    th 비고
            tr
                td.head.red 필수
                    br/ 사항
                td.red 연원(淵源)정보 및 본인의 이름(譜名)은 필수기재  사항입니다.
                td 世譜登載의 基礎 자료임
            tr
                td.head(rowspan=2) 名/諱(이름)
                td 이름에 해당되는 항목은 반드시 漢字를 기재 하시기 바랍니다.
                td 同名人 多數 혼선 최소화
            tr
                td.blue 近代 未使用 漢字 또는 私的으로 만들어진 漢字 →
                    br/ 옛날 선조님들이 쓰신 漢字는 어쩔 수 없겠으나, 近代 해방 이후 作名된 이름의 경우 가급적 일반적으로 통용되는 漢字로 作名 해  주실 것을 당부 드립니다.
                td 近代 미사용 漢字 自制
            tr
                td.head 生/卒(생/졸)
                td 生,卒 정보는 음력(陰曆)을 기본으로 하되, 양력(陽曆)의 경우는 반드시 “(양)“ 이라고 표기를 붙여 주시길 바랍니다.
                td 기존 선조님들의 정보가 모두
                    br/ "음력"으로 되어 있기 때문임
            tr
                td.head 한글
                td 이름 이외에 내용 중 일반적으로 통용되는 명칭들은 한글을 써도 무방합니다.
                td(rowspan=2) 입력 시 일괄 한자로 변환 예정
            tr
                td.head 숫자
                td 숫자들은 아라비아 숫자를 써도 무방합니다. (나이, 년, 월, 일 등)
            tr
                td.head 配位(배위)
                td 배위(配位)가 두 분 이상인 경우는, 한 장씩 양식을 추가 작성하시되, 본인 칸에는 이름만 기록하고 후배위 정보와 함께 바로 뒷 장에 유첨하여
                    br/ 함께 제출 하시면 됩니다.
                    br/
                    span.blue ※ 전자수단의 경우는 여러 명의 배위(配位)를 함께 등록할 수 있도록 되어 있습니다.
                td
            tr
                td.head 校訂(교정)
                td.mid 각 문중의 종손이나 종회의 임원 분들은 이전 보서(舊譜書)에서 해당 상계(上系) 선조님들의 기록 내용들을 면밀히 재검토하여 보시고 정정(訂正)사항이 있으시면 개정수단(改訂收單)을 작성하신 후 제출하여 주시기 바랍니다.
                    br/ 1) 정보교정(情報校訂)
                    br/ &emsp;- 벼슬, 생/졸일, 전기(傳記)내용 등 오류 또는 정정이 필요한 사항들
                    br/ 2) 세계정정(世系訂正)
                    br/ &emsp;- 연원(淵源) 선조(先祖)가 잘못 연결되어 있는 경우
                    br/ &emsp;&emsp;→ 특히, 친선조가 절사(絶嗣)되어 패역손(悖逆孫)이 되어 있는 경우는 필히 정정 요청 하시길 바랍니다.
                    br/
                    span.red &emsp;&emsp;&emsp; ※ 계통(系統)은 종통(宗統)을 우선(優先)할 수 없음
                td.end 교정 사항은 각 문중의 결정이
                    br/ 존중 되어야 함
        p.h1 新譜發刊일정계획
        table.guid
            thead
                tr
                    th 구분
                    th 목표 일정
                    th 비고
            tr
                td.head 수단 접수
                td.wide 2018년 11월 08일 ~ 2019년 01월 31일
                td 약 3개월
            tr
                td.head 자료 입력(1차)
                td.wide 2018년 11월 08일 ~ 2019년 02월 28일
                td 약 4개월 (접수 동시 진행)
            tr
                td.head 교정
                td.wide 2019년 03월 01일 ~ 2019년 04월 30일
                td 초안 배포
            tr
                td.head 자료 입력(2차)
                td.wide 2019년 05월 01일 ~ 2019년 05월 31일
                td 초안 확정
            tr
                td.cntr 초안 보고
                td.wide 별도 일정
                td 임시 이사회, 별도보고회
                    br/ (접수현황 및 보첩표본 보고 → 초안본 인가)
            tr
                td.head 발간 접수
                td.wide  2019년 08월 01일 ~ 2019년 09월 30일
                td "책자본" 또는 "전자본" → 비용 홍보
            tr
                td.head 보첩 발간
                td.wide 승인 후~
                td
            tr
                td.head 총회 보고
                td.wide 별도보고회 또는 향제날
                td 현황 보고
        span ※ 상기 계획은 진행 상황에 따라 변경될 수 있음
            p.h1 수단비용 ▶
                span &emsp;대종회계좌 : (농협) 351-1040-5361-13, 밀성박씨행산공파대종회
            p ■수단금액
                br/ &emsp;- 정축보(1997년) 기준
                br/ &emsp;- 신규등재 - 冠(기혼) : 12,000원/인, &nbsp; 童(미혼) : 6,000원/인, &nbsp; 女壻(딸, 사위) : 무료
                br/ &emsp;- 개정수단 - 무료
                br/ &emsp;- 수단 비용은 수단지 제출 후 상기&nbsp;
                span.underline 대종회 계좌로 직접 입금
                span 하시면 됩니다.
                br/ &emsp; &nbsp;입금 시 반드시&nbsp;
                span.underline 수단작성자 이름으로 입금
                span 하여 주시기 바랍니다.
            p ■수단관리
                br/ &emsp;- 수단 접수 → 금액 개별통지(문자/통화) →  통장입금 확인 → 자료등재 → 수단자료/목록 → 대종회