doctype html
html
    head
        title HS
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
        link(rel='stylesheet', href='css/cst.css')
    body
        div.top
            div.nav-wrap
                nav.navigation
                    ul.d1
                        li(class= (no > 10 && no < 20 ? " active" : ""))
                            a(href='Introduce' role='button' aria-expanded='false') 대정원
                            ul.d2
                                h5 소개
                                li
                                    a(href='Introduce') 인사말
                                li
                                    a(href="VNM") 연원도
                                h5 사업
                                li
                                    a(href='Introduce') 정보관리
                                li
                                    a(href="VNM") 종사지원
                        li(class= (no > 10 && no < 20 ? " active" : ""))
                            a(href='' aria-expanded='false') 대종회
                            ul.d2
                                h5 종회약사
                                li
                                    a(href='') 종회장 인사
                                li
                                    a(href='') 대종회연혁
                                li
                                    a(href="") 역대 종회장
                                h5 문중정신
                                li
                                    a(href='') 정신
                                li
                                    a(href="") 종사
                                h5 기구직제
                                li
                                    a(href='') 기구
                                li
                                    a(href='') 직제
                                h5 대종유사
                                li
                                    a(href='') 운영임원
                                li
                                    a(href='') 지파장
                                li
                                    a(href="") 이사단
                                li
                                    a(href="") 고문 및 위원장
                        li(class= (no > 20 && no < 30 ? " active" : ""))
                            a(href="BF" role='button' aria-expanded='false') 연원역사
                            ul.d2
                                h5 태고역사
                                li
                                    a(href="") 태고역사
                                h5 박성시원
                                li
                                    a(href="") 박성시원
                                h5 문중명현
                                li
                                    a(href="") 문중명현
                                h5 숭조고적
                                li
                                    a(href="") 숭조고적
                        li(class= (no > 20 && no < 30 ? " active" : ""))
                            a(href="BF" role='button' aria-expanded='false') 세계도
                            ul.d2
                                li
                                    a(href="BF") 선원세계도
                                li
                                    a(href="SD") 밀성박씨분파도
                                li
                                    a(href="ME") 행산공파세계도
                                li
                                    a(href="CNU") 지파문중세계도
                        li(class= (no > 20 && no < 30 ? " active" : ""))
                            a(href="BF" role='button' aria-expanded='false') 제향
                            ul.d2
                                li
                                    a(href="BF") 종회약사
                                li
                                    a(href="SD") 문중정신
                                li
                                    a(href="ME") 기구직제
                                li
                                    a(href="CNU") 대종유사
                        li(class= (no > 20 && no < 30 ? " active" : ""))
                            a(href="BF" role='button' aria-expanded='false') 대종회
                            ul.d2
                                li
                                    a(href="BF") 종회약사
                                li
                                    a(href="SD") 문중정신
                                li
                                    a(href="ME") 기구직제
                                li
                                    a(href="CNU") 대종유사
                        li(class= (no > 20 && no < 30 ? " active" : ""))
                            a(href="BF" role='button' aria-expanded='false') 대종회
                            ul.d2
                                li
                                    a(href="BF") 종회약사
                                li
                                    a(href="SD") 문중정신
                                li
                                    a(href="ME") 기구직제
                                li
                                    a(href="CNU") 대종유사
                        li(class= (no > 20 && no < 30 ? " active" : ""))
                            a(href="BF" role='button' aria-expanded='false') 대종회
                            ul.d2
                                li
                                    a(href="BF") 종회약사
                                li
                                    a(href="SD") 문중정신
                                li
                                    a(href="ME") 기구직제
                                li
                                    a(href="CNU") 대종유사
        div.wrap
            block content
        div.footer
            p Address : 64 Jukto-ro, Yeoncho-myeon, Geoje-si, Gyeongnam, KOREA Postal Code : 53212
            p Tel   : +82 55-731-1206
            p Fax  : +82 55-731-1214

